<nav>
  <img class="nav-logo" src="{{"/assets/static/logo.png" | prepend: site.baseurl | prepend: site.url}}"></img>
  <h1 class="nav-title"> lets travel </h1>
  <button class="open-nav-button">
    <i> + </i>
  </button>
  <div class="lang-list">
    {% assign currentLang = page.language  %}
    {% for language in site.languages %}
      <a {% if currentLang == language %}class='active-lang'{% endif %} href="{{ site.baseurl }}/{{ language }}/"><img  src="{{"/assets/static/" | prepend: site.baseurl | prepend: site.url | append: language | append: '.png'}}"/></a>
    {% endfor %}
  </div>

  <ul class="navigation">
    {% assign sorted_pages = site.html_pages | sort:"order" %}
    {% for sorted_page in sorted_pages %}
      {% if sorted_page.language == page.language and sorted_page.navigation != false %}
        <li class="navigation-item"><a href="{{ sorted_page.url | prepend: site.baseurl }}" class="navigation-link"> {% t sorted_page.titleKey %} </a></li>
      {% endif %}
    {% endfor %}
    <li class="navigation-item">
      {% include search.html %}
    </li>
  </ul>
</nav>

<script>

$(".open-nav-button").click(function() {
  $(".navigation").toggleClass('open');
  $(".open-nav-button i").toggleClass('open');
});

</script>
